{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Video History</title>
</head>
<body>
    <div>
        <h1>Video History</h1>
    </div>

    <div>
        <a type="button" class="btn btn-link" href="{% url 'addEntry' %}">Add a new video to the history</a>
        <a type="button" class="btn btn-link" href="{% url 'bookMarks' %}">See bookmarks</a>
        <a type="button" class="btn btn-link" href="{% url 'addBookmark' %}">New bookmarks</a>
    </div>

    {% for entry in entriesHistory %}
      <div>
        <h1>{{ entry.add_at }}</h1>
      </div>
      <ul>
        <li> <a href="{{ entry.url }}" target="_blank"> {{ entry.url }} </a> </li>
      </ul>
    {% endfor %}
</body>
</html>